@import url("https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;

  color: #faf9f6;
}

/* Header */
.header {
  background-color: #070f2b;
  display: flex;
  justify-content: center;
  padding: 1.5rem;
}

.header p {
  font-size: 1.5rem;
}

/* Main-content */
.main-content {
  display: flex;
  flex-direction: column;
}

/* Score-board */
.score-board {
  display: flex;
  background-color: #1b1a55;
}

/* Score-info */
.points-container {
  display: flex;
}
