@import url("https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
  background-color: #1b1a55;
  color: #faf9f6;
}

/* Header */
.header {
  background-color: #070f2b;
  display: flex;
  justify-content: center;
  padding: 1.5rem;
}

.header p {
  font-size: 1.5rem;
}

/* Main-content */
.main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #1b1a55;
}

/* Score-board */
.score-board {
  display: flex;
  background-color: #1b1a55;
  justify-content: center;
  padding: 1.5rem;
}

/* Move cards */
.move-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  width: 13%;
}

/* Player-move */

#player-move img {
  flex: auto;
  max-width: 60%;
}

/* Score-info */
#score-info {
  display: flex;
}

.points-container {
  display: flex;
  justify-content: center;
  width: 75%;
  height: auto;
}

.points-container p {
  font-size: 5rem;
}

/* Computer-move */
#computer-move img {
  flex: auto;
  max-width: 60%;
}

/* Winner display */
.winner-display {
  margin: 2rem 0;
  background-color: #535c91;
  width: 30%;
  text-align: center;
  padding: 10px;
  border-radius: 10px;

  font-size: small;
}

/* Choices container */
.choices-container {
  margin-top: 1rem;
  background-color: #1b1a55;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.player-choices {
  display: flex;
  gap: 20px;
}

/* Choice buttons */
.choice-btn {
  background-color: #535c91;
  width: 110px;
  height: 100px;
  border-radius: 10px;
}

.choice-btn:hover {
  background-color: #6d79bc;
  cursor: pointer;
}

/* Icon */
.icon {
  font-size: 80px;
  color: #faf9f6;
}

/* New game button */
.new-game-btn {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
  color: #faf9f6;
  background-color: crimson;
  font-size: 0.7rem;

  width: 30%;
  padding: 10px;
  border-radius: 10px;
}

.new-game-btn:hover {
  background-color: rgb(244, 29, 72);
  cursor: pointer;
}
