@import url("https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;

  color: #faf9f6;
}

/* Header */
.header {
  background-color: #070f2b;
  display: flex;
  justify-content: center;
  padding: 1.5rem;
}

.header p {
  font-size: 1.5rem;
}

/* Main-content */
.main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #1b1a55;
}

/* Score-board */
.score-board {
  display: flex;
  background-color: #1b1a55;
}

.move-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  height: auto;
  width: 12%;
  margin: 0 auto;
}

/* Player-move */

#player-move img {
  max-width: 100%;
}

/* Score-info */
#score-info {
  display: flex;
}
.points-container {
  display: flex;
  justify-content: center;
  width: 75%;
  height: auto;
}

.points-container p {
  font-size: 500%;
}

/* Computer-move */
#computer-move img {
  max-width: 100%;
}

/* Winner display */
.winner-display {
  margin: 2rem 0;
  background-color: #9290c3;
  width: 40%;
  text-align: center;
  padding: 10px;
  border-radius: 10px;
}
